<suite name="Suite1" thread-count="2" data-provider-thread-count="2" parallel="methods" verbose="1" >
    <test name="BasketTests"  >
        <packages>
            <package name="test.java.BasketTests" />
            <classes>
                <class name="BasketTests"/>
            </classes>
        </packages>

    </test>
</suite>
